<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\SOPORTE01\Documents\Nueva carpeta (2)\envio de correo\.venv\Scripts\python.exe|C:\Users\SOPORTE01\Documents\Nueva carpeta (2)\envio de correo\.venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Flask">
          <match url=".*" />
          <action type="Rewrite" url="app.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\Users\SOPORTE01\Documents\Nueva carpeta (2)\envio de correo" />
  </appSettings>
</configuration>
